head
  link(rel='stylesheet', type='text/css', href='/css/lib/bootstrap.css')
  link(rel='stylesheet', type='text/css', href='/css/lib/bootstrap-grid.css')
  script(src='/js/lib/jquery.js')
  script(src='/js/lib/bootstrap.js')