doctype=html
html
  head
    include includes/libs.pug
    link(rel='stylesheet', type='text/css', href='/css/index.css')
    title Express.js + Pug
  body
    include includes/nav.pug
    h1 This is a pug file