.index__grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 2vw 0;
}

.index__button {
  background: black;
  color: white;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  border: 1px solid white;
  padding: 24px 0px;
  margin: 0 auto;
  width: 300px;
  border-radius: 20px;
  font-size: large;
}

.index__dim{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:#000000;
  opacity:0.8;
  z-index:1001;
  
}

.index__consultas{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 32px;
  /* width:400px; */
  /* height:250px; */
  background-color:#fff;
  opacity:1;
  z-index:1002;
}

/* .index__ */