.index__grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 2vw 0;
}

.index__button {
  background: black;
  color: white;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  border: 1px solid white;
  padding: 24px 0px;
  margin: 0 auto;
  width: 300px;
  border-radius: 20px;
  font-size: large;
}