.nav__header {
  display: flex;
  background: black;
  color: white;
  padding: 32px;
  margin-bottom: 64px;
}

.nav__link {
  display: inherit;
  color: inherit;
  text-decoration: inherit;
  justify-content: space-between;
  width: 300px;
}

.nav__img {
  width: 64px;
}

.nav__title {
  margin-left: 1%;
  margin-top: 12px;
}